{% extends 'base.html' %} 
 {% block body_block %}
 <div class="text-end mb-3">
<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'clientprofile' %}">
                    <button type="button" class="btn btn-primary float-right">+ New</button>
                </a>
                {% comment %} <h3>{{ screen_name }}</h3> {% endcomment %}
                <h3>Client Profile</h3>
            </div>                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tableID" class="display table table-hover">
                            <thead class="bg-col">
                                <tr>
                                    <th>No.</th>
<th>user</th>
<th>business name</th>
<th>business type</th>
<th>registration number</th>
<th>kra pin</th>
<th>contact email</th>
<th>contact phone</th>
<th>enterprise_size</th>
<th>tax compliance cert</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in records %}
                <tr>
                    <td>{{forloop.counter}}</td>
<td>{{data.user.name}}</td>
<td>{{data.business_name}}</td>
<td>{{data.business_type}}</td>
<td>{{data.registration_number}}</td>
<td>{{data.kra_pin}}</td>
<td>{{data.contact_email}}</td>
<td>{{data.contact_phone}}</td>
<td>{{data.enterprise_size}}</td>
<td>{{data.tax_compliance_cert}}</td>
                    <td>
                        <a href="{% url 'clientprofile_edit' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                        <a href="{% url 'clientprofile_delete' data.id %}"><span data-toggle="tooltip" title="Delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')">Delete</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}
