{% extends 'base.html' %}
{% block body_block %}

{% load static %}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'loancase' %}">
                    <button type="button" class="btn btn-primary float-right">+ New</button>
                </a>
                <h3>{{ screen_name }}</h3>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="tableID" class="display table table-hover">
                        <thead class="bg-col">
                            <tr>
                                <th>No.</th>
                                <th>Client</th>
                                <th>Case ID</th>
                                <th>Case Reference</th>
                                <th>Loan Amount</th>
                                <th>Loan Purpose</th>
                                {% comment %} <th>Created By</th> {% endcomment %}
                                {% comment %} <th>Created At</th> {% endcomment %}
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in records %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.client }}</td>
                                <td>{{ data.case_id }}</td>
                                <td>{{ data.case_reference }}</td>
                                <td>{{ data.loan_amount }}</td>
                                <td>{{ data.loan_purpose }}</td>
                                {% comment %} <td>{{ data.created_by }}</td> {% endcomment %}
                                {% comment %} <td>{{ data.created_at|date:"Y-m-d H:i" }}</td> {% endcomment %}
                                <td>{{ data.status }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuIconButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton2">
                                            <a class="dropdown-item" href="{% url 'loancase_edit' data.id %}">
                                                <button class="btn iconbg-yellow" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                    <i class="fas fa-edit"></i> Edit
                                                </button>
                                            </a>
                                            <a class="dropdown-item" href="{% url 'loancase_delete' data.id %}">
                                                <button class="btn iconbg-rose" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete this item?')">
                                                    <i class="fas fa-trash-alt"></i> Delete
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}
