{% extends 'base.html' %}
{% block body_block %}

{% load static %}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'marketingagentprofile' %}">
                    <button type="button" class="btn btn-primary float-right">+ New</button>
                </a>
                <h3>{{ screen_name }}</h3>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="tableID" class="display table table-hover">
                        <thead class="bg-col">
                            <tr>
                                <th>No.</th>
<th>user</th>
<th>agency name</th>
<th>expertise area</th>
<th>years of experience</th>
<th>market sector focus</th>
<th>contact phone</th>
<th>contact email</th>
<th>address</th>
<th>has ndasigned</th>
<th>available for assignment</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in records %}
                <tr>
                    <td>{{forloop.counter}}</td>

<td>{{data.user}}</td>
<td>{{data.agency_name}}</td>
<td>{{data.expertise_area}}</td>
<td>{{data.years_of_experience}}</td>
<td>{{data.market_sector_focus}}</td>
<td>{{data.contact_phone}}</td>
<td>{{data.contact_email}}</td>
<td>{{data.address}}</td>
<td>{{data.has_ndasigned}}</td>
<td>{{data.available_for_assignment}}</td>
                    <td>
                        <a href="{% url 'marketingagentprofile_edit' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                        <a href="{% url 'marketingagentprofile_delete' data.id %}"><span data-toggle="tooltip" title="Delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}
