{% extends 'base.html' %} 


{% block body_block %}
{% load static %}

<div class="content-wrapper">
    {% if not view %}
    <button type="submit" form="myForm" class="btn btn-success">Save</button>
    {% endif %}
    <a href="javascript:window.history.back()" class="btn btn-danger">Cancel</a>

    <div class="col-12 grid-margin stretch-card">
        <div class="container mt-5 col-md-6">
            <div class="card card-body">
                <h2>TimeSheet Entry</h2>
                <form method="post" enctype="multipart/form-data" id="myForm">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                    {% for form_field in form %}
                    <div class="form-group">
                        {{ form_field.label_tag }}
                        <br>
                        {% if view %}
                        {% if form_field.name == 'document' %}
                        <br>
                            {% if form.initial.document %}

                         File    <a href="http://127.0.0.1:9000/{{ form.initial.document }}" target="_blank">{{form.initial.document}}</a><br><br>
                        {% endif %}
                        {% endif %}
                        {% if form_field.name == 'attachment' %}
                        <br>
                            {% if form.initial.attachment %}

                         Attachment    <a href="http://127.0.0.1:9000/{{ form.initial.attachment }}" target="_blank">{{form.initial.attachment}}</a><br><br>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {{ form_field }}
                        <span class="text-danger">{{ form_field.errors }}</span>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>

{% if view %}
<script>
    // Disable all form elements if the view is enabled
    var form = document.getElementById('myForm');
    for (var i = 0; i < form.elements.length; i++) {
        form.elements[i].disabled = true;
    }
</script>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
   $('#id_timesheet').change(function() {
    var selectedTaskId = $(this).val();

    if (selectedTaskId) {
        $.ajax({
            url: '{% url "get_task" 0 %}'.replace("0", selectedTaskId),
            type: 'GET',
            success: function(response) {
                console.log(response);
                if (response.task && response.total_working_hours !== undefined) {
                    $('#id_given_hours').val(response.total_working_hours);
                } else {
                    alert("Task details not found.");
                }
            },
            error: function(xhr, status, error) {
                alert("Error fetching task details.");
            }
        });
    }
});

</script>

{% endblock %}
