{% extends 'base.html' %}

{% block body_block %}
<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="text-end mb-3">
                   
                </div>
                <h3>Requested Documents</h3>
                <div class="table-responsive">
                    <table id="tableID" class="display table table-hover">
                        <thead class="bg-col">
                            <tr>
                                <th>No.</th>
                                <th>Case</th>
                                <th>Requested By</th>
                                <th>Requested To</th>
                                <th>Documents</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in records%}
                            <tr>
                                <td>{{ data.id }}</td>
                                <td>{{ data.case.id }}- {{data.case.name}}</td>
                                <td>{{ data.requested_by }}</td>
                                <td>{{ data.requested_to }}</td>
                                <td>{{ data.document_type }}</td>
                                <td>{{ data.status }}</td>
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
