{% extends 'base.html' %} 
 {% block body_block %}
 <div class="text-end mb-3">
<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'trioprofile' %}">
                    <button type="button" class="btn btn-primary float-right">+ New</button>
                </a>
                {% comment %} <h3>{{ screen_name }}</h3> {% endcomment %}
                <h3>Trio Profile</h3>
            </div>                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tableID" class="display table table-hover">
                            <thead class="bg-col">
                                <tr>
                                    <th>No.</th>
<th>user</th>
{% comment %} <th>role</th> {% endcomment %}
<th>qualification</th>
<th>experience years</th>
<th>phone</th>
<th>is active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in records %}
                <tr>
                    <td>{{forloop.counter}}</td>

<td>{{data.user}}</td>
{% comment %} <td>{{data.role}}</td> {% endcomment %}
<td>{{data.qualification}}</td>
<td>{{data.experience_years}}</td>
<td>{{data.phone}}</td>
<td>{{data.is_active}}</td>
                    <td>
                        <a href="{% url 'trioprofile_edit' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                        <a href="{% url 'trioprofile_delete' data.id %}"><span data-toggle="tooltip" title="Delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}
